body {
    background-color: #eeeeee;
}

.box {
    background-color: white;
    padding: 12px 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

input[type=text]  {
    width: 100%;
    padding: 12px 20x; /*el primero es vertical y el segundo horizontal*/
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 12px 20x; /*el primero es vertical y el segundo horizontal*/
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /*Si hay overflow no lo muestra*/
    position: fixed; /*Fija en un lugar estatico el objeto*/
    top: 0; /*Establezco que va a estar fijo en la parte superior*/
    left: 0; /*Lo alineo a la izquierda para corregir una cosa visual especifica*/
    width: 100%;
    background-color: #333;
}

li {
    float: left; /*Tambien se puede con display: inline;*/
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li:hover { /*efecto mouse*/
    background-color: rgba(0, 0, 0, 0.3);
}

.active { /*clase active*/
    background-color: orange;
}
.content { /*clase content*/
    margin-top: 10px;
}

.main_content { /*clase main content*/
    margin-top: 55px;
}
